/* #region basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}
/* #endregion basic styles */
/* #region header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 24px 0 23px;
}

.logo-accent {
  color: #4d5ae5;
}

.page-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 23px;
}
.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  padding: 24px 0 23px;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.page-header .container {
  display: flex;
  align-content: center;
  column-gap: 76px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.flex-nav {
  display: flex;
  column-gap: 40px;
}

.flex-address {
  display: flex;
  column-gap: 40px;
}
/* #endregion header */
/* #region main title */

.main-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)) ,url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-title-text {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.order-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}
.order-button:hover,
.order-button:focus {
  background: #404bbf;
}
/* #endregion main title */
/* #region section common styles*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.list-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  width: 1158px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 120px 0;
}

/* #endregion section common styles*/
/* #region features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-features {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.features-item {
  width: calc((100% - 72px) / 4);
}
/* #endregion features */
/* #region team */

.block-team {
  background-color: #f4f4fd;
}

.flex-team {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.member-card {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.member-card .text-container {
  padding: 32px 16px 32px 16px;
}

.list-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.list-member-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* #endregion team */
/* #region portfolio */

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
}
.portfolio-card .text-container {
  padding: 32px 15px 31px 15px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* #endregion portfolio */
/* #region footer */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-content {
  width: 264px;
}

.footer-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
